<div class="col-span-3 sm:col-span-2">
	<label for="about" class="block text-sm font-medium text-gray-700">
		Short url
	</label>
	<a href="<%= link.short %>" class="mt-1 text-sm text-gray-600" target="_blank" rel="noreferrer"><%= link.short %></a>
</div>

<div class="col-span-3 sm:col-span-2">
	<label for="about" class="block text-sm font-medium text-gray-700">
		Click counter
	</label>
	<p class="mt-2 text-sm text-gray-500"><%= link.click_counter %></p>
</div>